/* 
@media (min-width: 550px) and (max-width: 768px) {
  .form {
    padding: 40px 70px 40px;
    height: 100vh;
  }

  .form__form {
    margin-bottom: 123px;
  }

  .login__form {
    margin-bottom: 210px;
  }
}

@media (min-width: 320px) and (max-width: 550px) {
  .form {
    padding: 70px 30px 40px;
  }

  .login {
    padding: 56px 30px 40px;
    height: 100vh;
  }

  .register {
    padding: 56px 30px 40px;
    height: 100vh;
  }

  .form__form {
    width: 260px;
    margin-bottom: 109px;
  }

  .form__input {
    width: 100%;
  }

  .form__title {
    text-align: center;
  }

  .form__input-text {
    text-align: left;
  }

  .register__forma {
    text-align: center;
  }

  .login__form {
    margin-bottom: 192px;
    text-align: center;
  }

  .form__btn-submit {
    width: 260px;
  }

  .form__text {
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
  }

  .form__link {
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
  }
} */
