.header {
  padding: 18px 70px;
  box-sizing: border-box;
  background-color: #ffffff;
}

.header_dark {
  background-color: #fff;
}

.header__container {
  max-width: 1140px;
  margin: 0 auto;
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

@media (min-width: 550px) and (max-width: 768px) {
  .header {
    padding: 18px 30px;
  }
}

@media (min-width: 320px) and (max-width: 550px) {
  .header {
    padding: 18px 14px;
  }
}
