.movie {
  width: 364px;
  max-width: 100%;
  height: 271px;
  border-radius: 6px;
  background: #fdfdfd;
  box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.08);
  cursor: pointer;
  transition: 0.2s linear;
  list-style-type: none;
}

.movie:hover {
  opacity: 0.8;
}

.movie:hover .movie__delete {
  background-image: url("../../../images/delete.svg");
  background-position: center;
  background-repeat: no-repeat;
}

.movie__img {
  display: block;
  max-width: 100%;
  object-fit: cover;
}

.movie__info {
  height: 68px;
}

.movie__block {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  margin-left: 14px;
  margin-right: 14px;
  margin-bottom: 14px;
  align-items: center;
}

.movie__name {
  margin: 0;
  padding: 0;
  margin-top: 14px;
  margin-bottom: 9px;
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  color: #000000;
  max-width: 80%;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.movie__like {
  width: 30px;
  height: 30px;
  position: absolute;
  background-image: url("../../../images/nosave.svg");
  background-repeat: no-repeat;
  margin-top: 19px;
  right: 0px;
  border: none;
  cursor: pointer;
  background-color: transparent;
  transition: opacity 0.2s linear;
}

.movie__like:hover {
  opacity: 0.7;
}

.movie__delete {
  width: 30px;
  height: 30px;
  position: absolute;
  margin-right: 8px;
  margin-top: 19px;
  right: 0px;
  border: none;
  cursor: pointer;
  background-color: transparent;
  transition: opacity 0.2s linear;
  background-image: url("../../../images/delete.svg");
}

.movie__delete:hover {
  opacity: 0.8;
}

.movie__like_active {
  background-image: url("../../../images/save.svg");
}

.movie__time {
  margin: 0;
  width: 80%;
  margin-bottom: 14;
  font-weight: 400;
  font-size: 11px;
  line-height: 13px;
  color: #a0a0a0;
}

@media (min-width: 550px) and (max-width: 768px) {
  .movie__delete {
    background-image: url("../../../images/delete.svg");
    background-position: center;
    background-repeat: no-repeat;
  }
}
